// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: #DDDDDD;

a {
  text-decoration: none;
  color: blue;
  &:hover {
    color: purple;
  }
}

p {
  color: black;
}

input {
  padding: 5px;
  width: 150px;
}

.btn {
  width: 50px;
}

.container {
  width: 95vw;
  margin: 0 auto;

}

.question {
  padding: 5px;
  margin: 10px 0px;
  border-left: 4px solid $border-color;
}

.answer {
  background-color: #FFFEE1;
  padding: 5px;
  margin: 10px 0px;
  border-left: 4px solid $border-color;
}
